<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina di {{ alunno[1] }} {{ alunno[2] }}</title>
</head>
<body>
  <h1>Verifiche di {{ alunno[1] }} {{ alunno[2] }}</h1>
  <table>
    <thead>
      <caption>Tabella Verifiche</caption>
      {% for i in intestazioni %}
        <th>{{ i }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for v in verifiche %}
        <tr>
          {% for campo in v %}
            <td>{{ campo }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>