<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>Home Page</h1>
  <table>
    <thead>
      <caption>Tabella Alunni</caption>
      <tr>
        {% for intest in intestazioni %}
          <th>{{ intest }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for al in alunni %}
        <tr>
          {% for campo in al %}
            <td>{{ campo }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>