<!DOCTYPE html>
<html>
<title>{% block titolo %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-bar w3-teal">
  <a href="{{ url_for('hello') }}" class="w3-bar-item w3-button">Home</a>
  <a href="{{ url_for('piloti') }}" class="w3-bar-item w3-button">Piloti</a>
  <a href="{{ url_for('squadre') }}" class="w3-bar-item w3-button">Squadre</a>
  <a href="{{ url_for('granPremi') }}" class="w3-bar-item w3-button">Gran Premi</a>
</div>

<div class="w3-container">
  {% block testo %}{% endblock %}
</div>
</body>

</html>