{% extends 'base.html' %}

{% block titolo %}
Home Page
{% endblock %}

{% block testo %}
<h2>Campionato F1</h2>
<p>
  Lorem ipsum odor amet, consectetuer adipiscing elit. 
  Senectus parturient elementum mi turpis nisi. Sit fusce platea curabitur 
  primis finibus fusce per neque. Enim et fermentum porttitor etiam per 
  tortor fermentum. Tortor quisque efficitur vehicula commodo dictumst ridiculus. 
  Scelerisque arcu consectetur per vestibulum nisi potenti? Etiam velit dictum 
  cras arcu porta mattis. Maximus eros molestie tristique ornare eros posuere. 
  Urna sollicitudin dapibus velit finibus nullam dis eleifend.
</p>
<p>
  Proin vivamus senectus curae semper maximus nullam consectetur mattis. 
  Platea nullam ut per odio porta blandit efficitur fames. Nunc sollicitudin 
  aenean at elit bibendum posuere cursus. Dignissim velit aptent platea, mauris 
  ligula suscipit. Fringilla interdum scelerisque commodo hac molestie taciti 
  auctor netus aptent. Faucibus hendrerit egestas tellus, habitant imperdiet 
  felis eu quam. Nostra sociosqu torquent per eget facilisi est sociosqu. 
  Eros parturient pretium natoque tempus iaculis nulla.
</p>
</div>
{% endblock %}